/**/

body {

  background: rgb(209, 244, 255);
  margin: 0 ;
  text-align: center;

}
  

.name {
  font-family: "メイリオ", "Droid Sans";
  text-align: center;
  font-size: 45px;
  margin-top: 150px;
  font-weight: bold;
  color: rgb(255, 218, 238);
  -webkit-text-stroke: 1px black;
}

.balloon {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #ffcb7c;
  border-radius: 15px;
  margin-top: 50px;
}

.balloon:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #ffcb7c;
}

.balloon p {
  margin: 0;
  padding: 0;
  
}

.resizeimage img {
  width: 75%;
  
  
}

.content {
  text-align: center;
}


#start {
  margin-top: 100px;
  padding: 20px;
  
}

#push-button {
  margin-top: 100px;
  padding: 20px;
  
}

.container {
  background: #fff;
  border-radius: 4px;
  padding: 16px;
  margin: 20px;

}

.question {
  width: 100%;
}

#question {
  margin-bottom: 16px;
  font-weight: bold;
}

#choices {
  list-style: none;
  padding: 0;
  margin-bottom: 16px;
}

#choices > li {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

#choices > li:hover {
  background: #f8f8f8;
}

#choices > li.correct {
  background: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
  font-weight: bold;
}

#choices > li.correct::after {
  content: ' ... correct!';
}

#choices > li.wrong {
  background: #f8d8da;
  border-color: #f5c6cb;
  color: #721c24;
  font-weight: bold;
}

#choices > li.wrong::after {
  content: ' ... wrong!';
}

#btn, #result > a {
  background: rgb(255, 198, 91);
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 0 orange;
}

#btn.disabled {
  background: #ccc;
  box-shadow: 0 4px 0 #bbb;
  opacity: 0.7;
}

#result {
  position: absolute;
  width: 300px;
  background: #fff;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 4px;
  text-align: center;
  transition: 0.4s;
}

#result.hidden {
  transform: translateY(-500px);
}

#result > p {
  font-size: 24px;
}

#result > a {
  display: block;
  text-decoration: none;
}

#question_image {
    width: 50%;
    height: auto;
    animation: question_image 0.8s linear 0s 1;
  }

  @keyframes question_image {
    0%   { transform: scale(1.0, 1.0) translate(0%, 0%); }
    15%  { transform: scale(0.9, 0.9) translate(0%, 5%); }
    30%  { transform: scale(1.3, 0.8) translate(0%, 10%); }
    50%  { transform: scale(0.8, 1.3) translate(0%, -10%); }
    70%  { transform: scale(1.1, 0.9) translate(0%, 5%); }
    100% { transform: scale(1.0, 1.0) translate(0%, 0%); }
  }

#top > a {
  background: rgb(255, 198, 91);
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 0 orange;
  
}

#start {
  margin-top: 200px;
  margin-bottom: 50px;
  display: block;
  width: 100px;
  margin: 0 auto;
}

#push_button {
  display: block;
  width: 200px;
  margin: 0 auto;
}

#score_image {
  width: 50%;
  margin-bottom: 20px;
  animation: score_image 0.8s linear 0s 1;
}

@keyframes score_image {
  0%   { transform: scale(1.0, 1.0) translate(0%, 0%); }
  20%  { transform: scale(1.0, 1.06) translate(-5%, -4%) skew(6deg, 0deg); }
  50%  { transform: scale(1.0, 0.94) translate(5%, 4%) skew(-6deg, 0deg); }
  65%  { transform: scale(1.0, 1.03) translate(2%, -2%) skew(-3deg, 0deg); }
  80%  { transform: scale(1.0, 0.97) translate(-2%, 2%) skew(3deg, 0deg); }
  100% { transform: scale(1.0, 1.0) translate(0%, 0%); }
}

#aaa {
  font-size: 100px;
}

